
body {
  background-image: url("../images/3771172-skull-wallpapers.jpg");
  color: white;
}

img {
  width: 5rem;
}

.numBox {
  height: 10rem;
  background: green;
}

.winBox {
  height: 10rem;
  background: blue;
}
